<a href="/tracks/new">Add a song to the list!</a>

<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"> <%= track.title %> by: <%= track.author %> </a> </h3>
    <p> <%= track.URL %> </p>
     <p> <%= track.created_at %> </p>
  </div>
<% end %>